In [117]:
# Bring in dependencies 
import pandas as pd

In [118]:
# Bring in both csv files for merging
main_data = pd.read_csv('cleaned_data.csv')
coordinate_data = pd.read_csv('country_coordinates.csv')
coordinate_data.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [119]:
main_data.head()

,country,year,sex,age,suicides_no,population,suicides_per_100k,gdp,gdp_per_capita,generation,Region,happiness_rank,happiness_score,family,life_expectancy,freedom,govt_corruption,generosity,dystopia_residual
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836

In [120]:
# merge the two data sets into one
full_data = main_data.merge(coordinate_data, on = 'country')
full_data.head()

,country,year,sex,age,suicides_no,population,suicides_per_100k,gdp,gdp_per_capita,generation,...,happiness_score,family,life_expectancy,freedom,govt_corruption,generosity,dystopia_residual,country_code,latitude,longitude
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672

In [121]:
# groupby country name and year in order to get total
sumed_data = full_data.groupby(['country','year']).sum()
sumed_data.head()

                suicides_no  population  suicides_per_100k  gdp_per_capita  \
country   year
Argentina 2015         3073    39699624             112.13          179772
Armenia   2015           74     2795335              45.28           45300
          2016           67     2400033              40.56           37880
Australia 2015         3027    22240785             154.18          727872
Austria   2015         1251     8219386             194.62          557808

                happiness_rank  happiness_score    family  life_expectancy  \
country   year
Argentina 2015             360           78.888  14.97876          9.44676
Armenia   2015            1524           52.200   9.32532          8.75880
          2016            1210           43.600   6.24770          6.40830
Australia 2015             120           87.408  15.71076         11.17872
Austria   2015             156           86.400  15.56448         10.68504

                freedom  govt_corruption  generosity  dystopia_residual  \
country   year
Argentina 2015  5.39688          1.01808     1.37412           34.03200
Armenia   2015  2.38164          0.46800     0.94260           21.10476
          2016  1.40370          0.36160     0.77930           19.78640
Australia 2015  7.81488          4.27644     5.22744           27.19752
Austria   2015  7.49196          2.24112     3.97056           30.39840

                  latitude    longitude
country   year
Argentina 2015 -460.993164  -763.400064
Armenia   2015  480.829188   540.458268
          2016  400.690990   450.381890
Australia 2015 -303.292776  1605.301632
Austria   2015  570.194772   174.600864

In [122]:
# Drop all the unneccessary columns
suicide_data = sumed_data.loc[:, ["suicides_no",'suicides_per_100k','population']]
suicide_data = suicide_data.reset_index()

# change the names of the columns to be merged back into the full_data set
suicide_data = suicide_data.rename(columns={'suicides_no':'total_suicides_no','suicides_per_100k':'total_suicides_per_100k',\
                                           'population':'total_population'})

suicide_data

,country,year,total_suicides_no,total_suicides_per_100k,total_population
0,Argentina,2015,3073,112.13,39699624
1,Armenia,2015,74,45.28,2795335
2,Armenia,2016,67,40.56,2400033
3,Australia,2015,3027,154.18,22240785
4,Austria,2015,1251,194.62,8219386
...,...,...,...,...,...
63,Turkmenistan,2015,133,28.48,4886514
64,Ukraine,2015,7574,244.72,40345446
65,United Kingdom,2015,4910,86.74,61082942
66,United States,2015,44189,175.41,300078511
67,Uruguay,2015,630,270.02,3190795

In [123]:
# merge the new data back onto the full data set
original_data = full_data.merge(suicide_data, on = ['country','year'])
original_data_grouped = original_data.groupby(['country','year'])
original_data_grouped.mean()

                     suicides_no    population  suicides_per_100k  \
country        year
Argentina      2015   256.083333  3.308302e+06           9.344167
Armenia        2015     6.166667  2.329446e+05           3.773333
               2016     6.700000  2.400033e+05           4.056000
Australia      2015   252.250000  1.853399e+06          12.848333
Austria        2015   104.250000  6.849488e+05          16.218333
...                          ...           ...                ...
Turkmenistan   2015    11.083333  4.072095e+05           2.373333
Ukraine        2015   631.166667  3.362120e+06          20.393333
United Kingdom 2015   409.166667  5.090245e+06           7.228333
United States  2015  3682.416667  2.500654e+07          14.617500
Uruguay        2015    52.500000  2.658996e+05          22.501667

                     gdp_per_capita  happiness_rank  happiness_score   family  \
country        year
Argentina      2015         14981.0            30.0            6.574  1.24823
Armenia        2015          3775.0           127.0            4.350  0.77711
               2016          3788.0           121.0            4.360  0.62477
Australia      2015         60656.0            10.0            7.284  1.30923
Austria        2015         46484.0            13.0            7.200  1.29704
...                             ...             ...              ...      ...
Turkmenistan   2015          7326.0            70.0            5.548  1.22668
Ukraine        2015          2256.0           111.0            4.681  1.20278
United Kingdom 2015         47240.0            21.0            6.867  1.28548
United States  2015         60387.0            15.0            7.119  1.24711
Uruguay        2015         16696.0            32.0            6.485  1.20890

                     life_expectancy  freedom  govt_corruption  generosity  \
country        year
Argentina      2015          0.78723  0.44974          0.08484     0.11451
Armenia        2015          0.72990  0.19847          0.03900     0.07855
               2016          0.64083  0.14037          0.03616     0.07793
Australia      2015          0.93156  0.65124          0.35637     0.43562
Austria        2015          0.89042  0.62433          0.18676     0.33088
...                              ...      ...              ...         ...
Turkmenistan   2015          0.53886  0.47610          0.30844     0.16979
Ukraine        2015          0.67390  0.25123          0.02961     0.15275
United Kingdom 2015          0.90943  0.59625          0.32067     0.51912
United States  2015          0.86179  0.54604          0.15890     0.40105
Uruguay        2015          0.81160  0.60362          0.24558     0.23240

                     dystopia_residual   latitude   longitude  \
country        year
Argentina      2015            2.83600 -38.416097  -63.616672
Armenia        2015            1.75873  40.069099   45.038189
               2016            1.97864  40.069099   45.038189
Australia      2015            2.26646 -25.274398  133.775136
Austria        2015            2.53320  47.516231   14.550072
...                                ...        ...         ...
Turkmenistan   2015            1.86984  38.969719   59.556278
Ukraine        2015            1.57140  48.379433   31.165580
United Kingdom 2015            1.96994  55.378051   -3.435973
United States  2015            2.51011  37.090240  -95.712891
Uruguay        2015            2.32142 -32.522779  -55.765835

                     total_suicides_no  total_suicides_per_100k  \
country        year
Argentina      2015             3073.0                   112.13
Armenia        2015               74.0                    45.28
               2016               67.0                    40.56
Australia      2015             3027.0                   154.18
Austria        2015             1251.0                   194.62
...                                ...                      ...
Turkmenistan   2015              133.0                    28.48
Ukraine        2015             7574.0                   244.72
United Kingdom 2015             4910.0                    86.74
United States  2015            44189.0                   175.41
Uruguay        2015              630.0                   270.02

                     total_population
country        year
Argentina      2015        39699624.0
Armenia        2015         2795335.0
               2016         2400033.0
Australia      2015        22240785.0
Austria        2015         8219386.0
...                               ...
Turkmenistan   2015         4886514.0
Ukraine        2015        40345446.0
United Kingdom 2015        61082942.0
United States  2015       300078511.0
Uruguay        2015         3190795.0

[68 rows x 17 columns]

In [124]:
# export data to be used for charting
# country_data.to_csv(f'country_data.csv', index=False)

In [125]:
# Going to create a more compacted dataset in order to use in adjustable tables and graphs
country_data = country_data[country_data['year'] == 2016]
grouped_data = country_data.groupby(['country']).mean()
grouped_data.count()

KeyError: 'year'

In [126]:
# Remaking the data because the other one did not contain enough relevant data
happy_data_2015 = pd.read_csv('2015.csv')
happy_data_2016 = pd.read_csv('2016.csv')
sui_data = pd.read_csv('suicide_rates.csv')
happy_data_2016.head()

# merge data into a dataset containing sui data for both sexes (total)
# total_sui_data = sui_data[sui_data['Sex'] == 'Both sexes']
total_sui_data = sui_data.loc[sui_data['Sex']==' Both sexes']
total_sui_data.head()

# Change all the happyness data columns to contain the year
happy_data = happy_data_2015.merge(happy_data_2016, on = 'Country', suffixes=(' 2015',' 2016'))
happy_data = happy_data.drop(columns={'Region 2016','Year 2015','Year 2016','Lower Confidence Interval',\
                                      'Upper Confidence Interval'})
happy_data = happy_data.rename(columns={'Region 2015':'Region'})

# change column names
happy_data.head()

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Standard Error,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,...,Dystopia Residual 2015,Happiness Rank 2016,Happiness Score 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,2.51738,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,2.70201,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,2.49204,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,2.46531,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,2.45176,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485

In [127]:
# merge all the data together into one dataset
working_data = total_sui_data.merge(happy_data, on='Country', how = 'inner')
working_data

# rename columns to be better
working_data = working_data.rename(columns={'2016':'2016_sui_per_100k','2015':'2015_sui_per_100k',\
                                           '2010':'2010_sui_per_100k','2000':'2000_sui_per_100k'})

In [128]:
# change columns to be easier to query later 
working_data.columns = map(str.lower, working_data.columns)
working_data.columns = working_data.columns.str.replace(' ','_')
working_data.columns = working_data.columns.str.replace('(','')
working_data.columns = working_data.columns.str.replace(')','')
working_data.head()

,country,sex,2016_sui_per_100k,2015_sui_per_100k,2010_sui_per_100k,2000_sui_per_100k,region,happiness_rank_2015,happiness_score_2015,standard_error,...,dystopia_residual_2015,happiness_rank_2016,happiness_score_2016,economy_gdp_per_capita_2016,family_2016,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,1.95210,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,1.89894,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,2.43209,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,1.94939,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,2.83600,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985

In [131]:
working_data

,country,sex,2016_sui_per_100k,2015_sui_per_100k,2010_sui_per_100k,2000_sui_per_100k,region,happiness_rank_2015,happiness_score_2015,standard_error,...,dystopia_residual_2015,happiness_rank_2016,happiness_score_2016,economy_gdp_per_capita_2016,family_2016,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,1.95210,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,1.89894,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,2.43209,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,1.94939,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,2.83600,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,2.32142,29,6.545,1.18157,1.03143,0.72183,0.54388,0.21394,0.18056,2.67139
125,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.003,0.04361,...,2.23741,49,5.987,0.73591,1.16810,0.50163,0.60848,0.28333,0.34326,2.34638
126,Yemen,Both sexes,9.8,9.9,10.6,9.1,Middle East and Northern Africa,136,4.077,0.04367,...,1.92313,147,3.724,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295
127,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.129,0.06988,...,2.63430,106,4.795,0.61202,0.63760,0.23573,0.42662,0.11479,0.17866,2.58991
128,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.610,0.04290,...,2.44191,131,4.193,0.35041,0.71478,0.15950,0.25429,0.08582,0.18503,2.44270

In [136]:
# merge in population 
country_data = working_data.merge(suicide_data, on = 'country')
country_data.columns

# drop the old dumpy columns we don't need
country_data = country_data.drop(columns = {'year','total_suicides_no','total_suicides_per_100k'})

country_data.columns

Index(['country', 'sex', '2016_sui_per_100k', '2015_sui_per_100k',
       '2010_sui_per_100k', '2000_sui_per_100k', 'region',
       'happiness_rank_2015', 'happiness_score_2015', 'standard_error',
       'economy_gdp_per_capita_2015', 'family_2015',
       'health_life_expectancy_2015', 'freedom_2015',
       'trust_government_corruption_2015', 'generosity_2015',
       'dystopia_residual_2015', 'happiness_rank_2016', 'happiness_score_2016',
       'economy_gdp_per_capita_2016', 'family_2016',
       'health_life_expectancy_2016', 'freedom_2016',
       'trust_government_corruption_2016', 'generosity_2016',
       'dystopia_residual_2016', 'total_population'],
      dtype='object')

In [138]:
# Create new columns for total suicides and total gdp
country_data['2016_total_suicides'] = country_data['2016_sui_per_100k'] * (country_data['total_population']/100000)
country_data['2015_total_suicides'] = country_data['2015_sui_per_100k'] * (country_data['total_population']/100000)
# country_data['2010_total_suicides'] = country_data['2010_sui_per_100k'] * (country_data['total_population']/100000)
# country_data['2000_total_suicides'] = country_data['2000_sui_per_100k'] * (country_data['total_population']/100000)
country_data

# do the same but for gdp
country_data['economy_gdp_2016'] = country_data['economy_gdp_per_capita_2016'] * (country_data['total_population'])
country_data['economy_gdp_2015'] = country_data['economy_gdp_per_capita_2015'] * (country_data['total_population'])
country_data

,country,sex,2016_sui_per_100k,2015_sui_per_100k,2010_sui_per_100k,2000_sui_per_100k,region,happiness_rank_2015,happiness_score_2015,standard_error,...,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016,total_population,2016_total_suicides,2015_total_suicides,economy_gdp_2016,economy_gdp_2015
0,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,0.69711,0.42284,0.07296,0.10989,3.12985,39699624,3612.665784,3453.867288,1.814628e+15,1.660395e+15
1,Armenia,Both sexes,5.7,6.0,5.4,3.2,Central and Eastern Europe,127,4.350,0.04763,...,0.64083,0.14037,0.03616,0.07793,1.97864,2795335,159.334095,167.720100,6.726672e+12,6.002714e+12
2,Armenia,Both sexes,5.7,6.0,5.4,3.2,Central and Eastern Europe,127,4.350,0.04763,...,0.64083,0.14037,0.03616,0.07793,1.97864,2400033,136.801881,144.001980,4.958690e+12,4.425011e+12
3,Australia,Both sexes,11.7,12.2,11.0,12.2,Australia and New Zealand,10,7.284,0.04083,...,0.85120,0.56837,0.32331,0.47407,2.54650,22240785,2602.171845,2713.375770,7.144909e+14,6.596587e+14
4,Austria,Both sexes,11.4,11.5,12.2,16.0,Western Europe,13,7.200,0.03751,...,0.80565,0.54355,0.21348,0.32865,2.69343,8219386,937.010004,945.229390,9.798522e+13,9.034099e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Thailand,Both sexes,12.9,13.1,13.0,15.9,Southeastern Asia,34,6.455,0.03557,...,0.64915,0.49553,0.02833,0.58696,2.57960,53442001,6894.018129,7000.902131,3.111093e+15,2.761512e+15
60,Turkey,Both sexes,7.2,7.2,8.1,7.3,Middle East and Northern Africa,76,5.332,0.03864,...,0.64718,0.23889,0.12348,0.04707,2.29074,71880464,5175.393408,5175.393408,6.018910e+15,5.481873e+15
61,Turkmenistan,Both sexes,7.2,7.5,7.7,9.9,Central and Eastern Europe,70,5.548,0.04175,...,0.44006,0.37408,0.28467,0.22567,2.21489,4886514,351.829008,366.488550,2.579232e+13,2.288636e+13
62,Ukraine,Both sexes,18.5,19.0,22.6,32.0,Central and Eastern Europe,111,4.681,0.04412,...,0.58628,0.12859,0.01829,0.20363,1.50066,40345446,7463.907510,7665.634740,1.420819e+15,1.300690e+15
63,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,0.72183,0.54388,0.21394,0.18056,2.67139,3190795,526.481175,555.198330,1.202977e+13,1.080894e+13

In [94]:
country_data.to_csv(f'country_data.csv', index=False)

In [96]:
country_data.head()

,Country,Sex,2016_sui_per_100k,2015_sui_per_100k,2010_sui_per_100k,2000_sui_per_100k,Region,Happiness Rank 2015,Happiness Score 2015,Standard Error,...,Dystopia Residual 2015,Happiness Rank 2016,Happiness Score 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,1.95210,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,1.89894,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,2.43209,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,1.94939,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,2.83600,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985

In [97]:
country_data.columns

Index(['Country', 'Sex', '2016_sui_per_100k', '2015_sui_per_100k',
       '2010_sui_per_100k', '2000_sui_per_100k', 'Region',
       'Happiness Rank 2015', 'Happiness Score 2015', 'Standard Error',
       'Economy (GDP per Capita) 2015', 'Family 2015',
       'Health (Life Expectancy) 2015', 'Freedom 2015',
       'Trust (Government Corruption) 2015', 'Generosity 2015',
       'Dystopia Residual 2015', 'Happiness Rank 2016', 'Happiness Score 2016',
       'Economy (GDP per Capita) 2016', 'Family 2016',
       'Health (Life Expectancy) 2016', 'Freedom 2016',
       'Trust (Government Corruption) 2016', 'Generosity 2016',
       'Dystopia Residual 2016'],
      dtype='object')