In [1]:
# Bring in dependencies 
import pandas as pd

In [2]:
# Bring in both csv files for merging
main_data = pd.read_csv('cleaned_data.csv')
coordinate_data = pd.read_csv('country_coordinates.csv')
coordinate_data.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [3]:
main_data.head()

,country,year,sex,age,suicides_no,population,suicides_per_100k,gdp,gdp_per_capita,generation,Region,happiness_rank,happiness_score,family,life_expectancy,freedom,govt_corruption,generosity,dystopia_residual
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,Latin America and Caribbean,30,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836

In [4]:
# merge the two data sets into one
full_data = main_data.merge(coordinate_data, on = 'country')
full_data.head()

,country,year,sex,age,suicides_no,population,suicides_per_100k,gdp,gdp_per_capita,generation,...,happiness_score,family,life_expectancy,freedom,govt_corruption,generosity,dystopia_residual,country_code,latitude,longitude
0,Argentina,2015,male,75+ years,245,712691,34.38,"594,749,285,413",14981,Silent,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
1,Argentina,2015,male,15-24 years,656,3500580,18.74,"594,749,285,413",14981,Millenials,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
2,Argentina,2015,male,55-74 years,431,3011963,14.31,"594,749,285,413",14981,Boomers,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
3,Argentina,2015,male,25-34 years,465,3289927,14.13,"594,749,285,413",14981,Millenials,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672
4,Argentina,2015,male,35-54 years,633,5166179,12.25,"594,749,285,413",14981,Generation X,...,6.574,1.24823,0.78723,0.44974,0.08484,0.11451,2.836,AR,-38.416097,-63.616672

In [5]:
# groupby country name and year in order to get total
sumed_data = full_data.groupby(['country','year']).sum()
sumed_data.head()

                suicides_no  population  suicides_per_100k  gdp_per_capita  \
country   year
Argentina 2015         3073    39699624             112.13          179772
Armenia   2015           74     2795335              45.28           45300
          2016           67     2400033              40.56           37880
Australia 2015         3027    22240785             154.18          727872
Austria   2015         1251     8219386             194.62          557808

                happiness_rank  happiness_score    family  life_expectancy  \
country   year
Argentina 2015             360           78.888  14.97876          9.44676
Armenia   2015            1524           52.200   9.32532          8.75880
          2016            1210           43.600   6.24770          6.40830
Australia 2015             120           87.408  15.71076         11.17872
Austria   2015             156           86.400  15.56448         10.68504

                freedom  govt_corruption  generosity  dystopia_residual  \
country   year
Argentina 2015  5.39688          1.01808     1.37412           34.03200
Armenia   2015  2.38164          0.46800     0.94260           21.10476
          2016  1.40370          0.36160     0.77930           19.78640
Australia 2015  7.81488          4.27644     5.22744           27.19752
Austria   2015  7.49196          2.24112     3.97056           30.39840

                  latitude    longitude
country   year
Argentina 2015 -460.993164  -763.400064
Armenia   2015  480.829188   540.458268
          2016  400.690990   450.381890
Australia 2015 -303.292776  1605.301632
Austria   2015  570.194772   174.600864

In [6]:
# Drop all the unneccessary columns
suicide_data = sumed_data.loc[:, ["suicides_no",'suicides_per_100k','population']]
suicide_data = suicide_data.reset_index()

# change the names of the columns to be merged back into the full_data set
suicide_data = suicide_data.rename(columns={'suicides_no':'total_suicides_no','suicides_per_100k':'total_suicides_per_100k',\
                                           'population':'total_population'})

suicide_data

,country,year,total_suicides_no,total_suicides_per_100k,total_population
0,Argentina,2015,3073,112.13,39699624
1,Armenia,2015,74,45.28,2795335
2,Armenia,2016,67,40.56,2400033
3,Australia,2015,3027,154.18,22240785
4,Austria,2015,1251,194.62,8219386
...,...,...,...,...,...
63,Turkmenistan,2015,133,28.48,4886514
64,Ukraine,2015,7574,244.72,40345446
65,United Kingdom,2015,4910,86.74,61082942
66,United States,2015,44189,175.41,300078511
67,Uruguay,2015,630,270.02,3190795

In [7]:
# merge the new data back onto the full data set
original_data = full_data.merge(suicide_data, on = ['country','year'])
original_data_grouped = original_data.groupby(['country','year'])
original_data_grouped.mean()

                     suicides_no    population  suicides_per_100k  \
country        year
Argentina      2015   256.083333  3.308302e+06           9.344167
Armenia        2015     6.166667  2.329446e+05           3.773333
               2016     6.700000  2.400033e+05           4.056000
Australia      2015   252.250000  1.853399e+06          12.848333
Austria        2015   104.250000  6.849488e+05          16.218333
...                          ...           ...                ...
Turkmenistan   2015    11.083333  4.072095e+05           2.373333
Ukraine        2015   631.166667  3.362120e+06          20.393333
United Kingdom 2015   409.166667  5.090245e+06           7.228333
United States  2015  3682.416667  2.500654e+07          14.617500
Uruguay        2015    52.500000  2.658996e+05          22.501667

                     gdp_per_capita  happiness_rank  happiness_score   family  \
country        year
Argentina      2015         14981.0            30.0            6.574  1.24823
Armenia        2015          3775.0           127.0            4.350  0.77711
               2016          3788.0           121.0            4.360  0.62477
Australia      2015         60656.0            10.0            7.284  1.30923
Austria        2015         46484.0            13.0            7.200  1.29704
...                             ...             ...              ...      ...
Turkmenistan   2015          7326.0            70.0            5.548  1.22668
Ukraine        2015          2256.0           111.0            4.681  1.20278
United Kingdom 2015         47240.0            21.0            6.867  1.28548
United States  2015         60387.0            15.0            7.119  1.24711
Uruguay        2015         16696.0            32.0            6.485  1.20890

                     life_expectancy  freedom  govt_corruption  generosity  \
country        year
Argentina      2015          0.78723  0.44974          0.08484     0.11451
Armenia        2015          0.72990  0.19847          0.03900     0.07855
               2016          0.64083  0.14037          0.03616     0.07793
Australia      2015          0.93156  0.65124          0.35637     0.43562
Austria        2015          0.89042  0.62433          0.18676     0.33088
...                              ...      ...              ...         ...
Turkmenistan   2015          0.53886  0.47610          0.30844     0.16979
Ukraine        2015          0.67390  0.25123          0.02961     0.15275
United Kingdom 2015          0.90943  0.59625          0.32067     0.51912
United States  2015          0.86179  0.54604          0.15890     0.40105
Uruguay        2015          0.81160  0.60362          0.24558     0.23240

                     dystopia_residual   latitude   longitude  \
country        year
Argentina      2015            2.83600 -38.416097  -63.616672
Armenia        2015            1.75873  40.069099   45.038189
               2016            1.97864  40.069099   45.038189
Australia      2015            2.26646 -25.274398  133.775136
Austria        2015            2.53320  47.516231   14.550072
...                                ...        ...         ...
Turkmenistan   2015            1.86984  38.969719   59.556278
Ukraine        2015            1.57140  48.379433   31.165580
United Kingdom 2015            1.96994  55.378051   -3.435973
United States  2015            2.51011  37.090240  -95.712891
Uruguay        2015            2.32142 -32.522779  -55.765835

                     total_suicides_no  total_suicides_per_100k  \
country        year
Argentina      2015             3073.0                   112.13
Armenia        2015               74.0                    45.28
               2016               67.0                    40.56
Australia      2015             3027.0                   154.18
Austria        2015             1251.0                   194.62
...                                ...                      ...
Turkmenistan   2015              133.0                    28.48
Ukraine        2015             7574.0                   244.72
United Kingdom 2015             4910.0                    86.74
United States  2015            44189.0                   175.41
Uruguay        2015              630.0                   270.02

                     total_population
country        year
Argentina      2015        39699624.0
Armenia        2015         2795335.0
               2016         2400033.0
Australia      2015        22240785.0
Austria        2015         8219386.0
...                               ...
Turkmenistan   2015         4886514.0
Ukraine        2015        40345446.0
United Kingdom 2015        61082942.0
United States  2015       300078511.0
Uruguay        2015         3190795.0

[68 rows x 17 columns]

In [8]:
# export data to be used for charting
# country_data.to_csv(f'country_data.csv', index=False)

In [9]:
# Going to create a more compacted dataset in order to use in adjustable tables and graphs
country_data = country_data[country_data['year'] == 2016]
grouped_data = country_data.groupby(['country']).mean()
grouped_data.count()

NameError: name 'country_data' is not defined

In [10]:
# Remaking the data because the other one did not contain enough relevant data
happy_data_2015 = pd.read_csv('2015.csv')
happy_data_2016 = pd.read_csv('2016.csv')
sui_data = pd.read_csv('suicide_rates.csv')
happy_data_2016.head()

# merge data into a dataset containing sui data for both sexes (total)
# total_sui_data = sui_data[sui_data['Sex'] == 'Both sexes']
total_sui_data = sui_data.loc[sui_data['Sex']==' Both sexes']
total_sui_data.head()

# Change all the happyness data columns to contain the year
happy_data = happy_data_2015.merge(happy_data_2016, on = 'Country', suffixes=(' 2015',' 2016'))
happy_data = happy_data.drop(columns={'Region 2016','Year 2015','Year 2016','Lower Confidence Interval',\
                                      'Upper Confidence Interval'})
happy_data = happy_data.rename(columns={'Region 2015':'Region'})

# change column names
happy_data[happy_data['Country'] == 'United States']

,Country,Region,Happiness Rank 2015,Happiness Score 2015,Standard Error,Economy (GDP per Capita) 2015,Family 2015,Health (Life Expectancy) 2015,Freedom 2015,Trust (Government Corruption) 2015,...,Dystopia Residual 2015,Happiness Rank 2016,Happiness Score 2016,Economy (GDP per Capita) 2016,Family 2016,Health (Life Expectancy) 2016,Freedom 2016,Trust (Government Corruption) 2016,Generosity 2016,Dystopia Residual 2016
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.1589,...,2.51011,13,7.104,1.50796,1.04782,0.779,0.48163,0.14868,0.41077,2.72782

In [11]:
total_sui_data[total_sui_data['Country'] == 'United States of America']

total_sui_data = total_sui_data.replace('United States of America', 'United States')

In [12]:
# merge all the data together into one dataset
working_data = total_sui_data.merge(happy_data, on='Country', how = 'inner')
working_data

# rename columns to be better
working_data = working_data.rename(columns={'2016':'sui_per_100k_2016','2015':'sui_per_100k_2015',\
                                           '2010':'sui_per_100k_2010','2000':'sui_per_100k_2000'})

In [13]:
# change columns to be easier to query later 
working_data.columns = map(str.lower, working_data.columns)
working_data.columns = working_data.columns.str.replace(' ','_')
working_data.columns = working_data.columns.str.replace('(','')
working_data.columns = working_data.columns.str.replace(')','')
working_data.head()

C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,dystopia_residual_2015,happiness_rank_2016,happiness_score_2016,economy_gdp_per_capita_2016,family_2016,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,1.95210,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,1.89894,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,2.43209,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,1.94939,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,2.83600,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985

In [14]:
working_data[working_data['country'] == 'United States']

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,dystopia_residual_2015,happiness_rank_2016,happiness_score_2016,economy_gdp_per_capita_2016,family_2016,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016
124,United States,Both sexes,13.7,13.3,11.8,10.1,North America,15,7.119,0.03839,...,2.51011,13,7.104,1.50796,1.04782,0.779,0.48163,0.14868,0.41077,2.72782

In [15]:
# merge in population 
country_data = working_data.merge(suicide_data, on = 'country', how='left')
country_data.columns

# drop the old dumpy columns we don't need
country_data = country_data.drop(columns = {'year','total_suicides_no','total_suicides_per_100k'})

country_data

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,happiness_rank_2016,happiness_score_2016,economy_gdp_per_capita_2016,family_2016,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016,total_population
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,NaN
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816,NaN
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904,NaN
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459,NaN
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985,39699624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,29,6.545,1.18157,1.03143,0.72183,0.54388,0.21394,0.18056,2.67139,3190795.0
139,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.003,0.04361,...,49,5.987,0.73591,1.16810,0.50163,0.60848,0.28333,0.34326,2.34638,NaN
140,Yemen,Both sexes,9.8,9.9,10.6,9.1,Middle East and Northern Africa,136,4.077,0.04367,...,147,3.724,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295,NaN
141,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.129,0.06988,...,106,4.795,0.61202,0.63760,0.23573,0.42662,0.11479,0.17866,2.58991,NaN
142,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.610,0.04290,...,131,4.193,0.35041,0.71478,0.15950,0.25429,0.08582,0.18503,2.44270,NaN

In [16]:
# Create new columns for total suicides and total gdp
country_data['total_suicides_2016'] = country_data['sui_per_100k_2016'] * (country_data['total_population']/100000)
country_data['total_suicides_2015'] = country_data['sui_per_100k_2015'] * (country_data['total_population']/100000)
# country_data['2010_total_suicides'] = country_data['2010_sui_per_100k'] * (country_data['total_population']/100000)
# country_data['2000_total_suicides'] = country_data['2000_sui_per_100k'] * (country_data['total_population']/100000)
country_data

# do the same but for gdp
country_data['economy_gdp_2016'] = country_data['economy_gdp_per_capita_2016'] * (country_data['total_population'])
country_data['economy_gdp_2015'] = country_data['economy_gdp_per_capita_2015'] * (country_data['total_population'])
country_data

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,health_life_expectancy_2016,freedom_2016,trust_government_corruption_2016,generosity_2016,dystopia_residual_2016,total_population,total_suicides_2016,total_suicides_2015,economy_gdp_2016,economy_gdp_2015
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,0.17344,0.16430,0.07112,0.31268,2.14558,NaN,NaN,NaN,NaN,NaN
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,0.73007,0.31866,0.05301,0.16840,1.92816,NaN,NaN,NaN,NaN,NaN
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,0.61804,0.21006,0.16157,0.07044,3.40904,NaN,NaN,NaN,NaN,NaN
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,0.04991,0.00589,0.08434,0.12071,2.09459,NaN,NaN,NaN,NaN,NaN
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,0.69711,0.42284,0.07296,0.10989,3.12985,39699624.0,3612.665784,3453.867288,4.570896e+07,4.182395e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,0.72183,0.54388,0.21394,0.18056,2.67139,3190795.0,526.481175,555.198330,3.770148e+06,3.387539e+06
139,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.003,0.04361,...,0.50163,0.60848,0.28333,0.34326,2.34638,NaN,NaN,NaN,NaN,NaN
140,Yemen,Both sexes,9.8,9.9,10.6,9.1,Middle East and Northern Africa,136,4.077,0.04367,...,0.31048,0.22870,0.05892,0.09821,1.97295,NaN,NaN,NaN,NaN,NaN
141,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.129,0.06988,...,0.23573,0.42662,0.11479,0.17866,2.58991,NaN,NaN,NaN,NaN,NaN
142,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.610,0.04290,...,0.15950,0.25429,0.08582,0.18503,2.44270,NaN,NaN,NaN,NaN,NaN

In [17]:
# add in the coordinate data
country_data = country_data.merge(coordinate_data, on = 'country', how = 'left')
country_data

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,generosity_2016,dystopia_residual_2016,total_population,total_suicides_2016,total_suicides_2015,economy_gdp_2016,economy_gdp_2015,country_code,latitude,longitude
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,0.31268,2.14558,NaN,NaN,NaN,NaN,NaN,AF,33.939110,67.709953
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,0.16840,1.92816,NaN,NaN,NaN,NaN,NaN,AL,41.153332,20.168331
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,0.07044,3.40904,NaN,NaN,NaN,NaN,NaN,DZ,28.033886,1.659626
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,0.12071,2.09459,NaN,NaN,NaN,NaN,NaN,AO,-11.202692,17.873887
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,0.10989,3.12985,39699624.0,3612.665784,3453.867288,4.570896e+07,4.182395e+07,AR,-38.416097,-63.616672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,0.18056,2.67139,3190795.0,526.481175,555.198330,3.770148e+06,3.387539e+06,UY,-32.522779,-55.765835
139,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.003,0.04361,...,0.34326,2.34638,NaN,NaN,NaN,NaN,NaN,UZ,41.377491,64.585262
140,Yemen,Both sexes,9.8,9.9,10.6,9.1,Middle East and Northern Africa,136,4.077,0.04367,...,0.09821,1.97295,NaN,NaN,NaN,NaN,NaN,YE,15.552727,48.516388
141,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.129,0.06988,...,0.17866,2.58991,NaN,NaN,NaN,NaN,NaN,ZM,-13.133897,27.849332
142,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.610,0.04290,...,0.18503,2.44270,NaN,NaN,NaN,NaN,NaN,ZW,-19.015438,29.154857

In [18]:
coordinate_data[coordinate_data['country'] == 'United States']

    country_code  latitude  longitude        country
227           US  37.09024 -95.712891  United States

In [19]:
# bringing in more data to make visualizations more robust
hdi_data = pd.read_csv('human_development.csv')
hdi_data.columns = map(str.lower, hdi_data.columns)
hdi_data.columns = hdi_data.columns.str.replace(' ','_')
hdi_data.columns = hdi_data.columns.str.replace('(','')
hdi_data.columns = hdi_data.columns.str.replace(')','')
hdi_data.head()

C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """
C:\Users\lakew\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

,hdi_rank,country,human_development_index_hdi,life_expectancy_at_birth,expected_years_of_education,mean_years_of_education,gross_national_income_gni_per_capita,gni_per_capita_rank_minus_hdi_rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0

In [20]:
hdi_data = hdi_data.rename(columns={'human_development_index_hdi':'human_development_index'})

In [21]:
# merge the hdi data into country data
country_data = country_data.merge(hdi_data, on = 'country', how = 'inner')
country_data

,country,sex,sui_per_100k_2016,sui_per_100k_2015,sui_per_100k_2010,sui_per_100k_2000,region,happiness_rank_2015,happiness_score_2015,standard_error,...,country_code,latitude,longitude,hdi_rank,human_development_index,life_expectancy_at_birth,expected_years_of_education,mean_years_of_education,gross_national_income_gni_per_capita,gni_per_capita_rank_minus_hdi_rank
0,Afghanistan,Both sexes,6.4,6.6,7.4,8.1,Southern Asia,153,3.575,0.03084,...,AF,33.939110,67.709953,171.0,0.465,60.4,9.3,3.2,"1,885",-7.0
1,Albania,Both sexes,5.6,5.3,7.7,5.8,Central and Eastern Europe,95,4.959,0.05013,...,AL,41.153332,20.168331,85.0,0.733,77.8,11.8,9.3,"9,943",14.0
2,Algeria,Both sexes,3.3,3.4,3.5,4.7,Middle East and Northern Africa,68,5.605,0.05099,...,DZ,28.033886,1.659626,83.0,0.736,74.8,14.0,7.6,"13,054",-1.0
3,Angola,Both sexes,8.9,9.3,10.4,13.9,Sub-Saharan Africa,137,4.033,0.04758,...,AO,-11.202692,17.873887,149.0,0.532,52.3,11.4,4.7,"6,822",-30.0
4,Argentina,Both sexes,9.1,8.7,8.6,9.5,Latin America and Caribbean,30,6.574,0.04612,...,AR,-38.416097,-63.616672,40.0,0.836,76.3,17.9,9.8,"22,050",11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Uruguay,Both sexes,16.5,17.4,14.9,15.9,Latin America and Caribbean,32,6.485,0.04539,...,UY,-32.522779,-55.765835,52.0,0.793,77.2,15.5,8.5,"19,283",7.0
139,Uzbekistan,Both sexes,7.4,7.4,6.0,9.1,Central and Eastern Europe,44,6.003,0.04361,...,UZ,41.377491,64.585262,114.0,0.675,68.4,11.5,10.9,"5,567",10.0
140,Yemen,Both sexes,9.8,9.9,10.6,9.1,Middle East and Northern Africa,136,4.077,0.04367,...,YE,15.552727,48.516388,160.0,0.498,63.8,9.2,2.6,"3,519",-17.0
141,Zambia,Both sexes,11.3,11.2,11.5,14.1,Sub-Saharan Africa,85,5.129,0.06988,...,ZM,-13.133897,27.849332,139.0,0.586,60.1,13.5,6.6,"3,734",2.0
142,Zimbabwe,Both sexes,19.1,18.9,20.6,21.7,Sub-Saharan Africa,115,4.610,0.04290,...,ZW,-19.015438,29.154857,155.0,0.509,57.5,10.9,7.3,"1,615",13.0

In [22]:
# drop duplicates from the country column
country_data = country_data.drop_duplicates(subset=['country'])
country_data[country_data['country'] == 'Armenia']
country_data

# round all the data to 2 decimal places
country_data = country_data.round(2)

In [23]:
# Change 'United States' back to 'United States of America'
country_data = country_data.replace('United States', 'United States of America')

In [24]:
country_data.to_csv(f'country_data.csv', index=False)

In [32]:
country_data[['sui_per_100k_2015','happiness_score_2015','economy_gdp_per_capita_2015','human_development_index']].describe()

,sui_per_100k_2015,happiness_score_2015,economy_gdp_per_capita_2015,human_development_index
count,130.000000,130.000000,130.000000,130.000000
mean,9.901538,5.418462,0.867385,0.706692
std,5.067742,1.168785,0.398171,0.157127
min,2.000000,2.840000,0.020000,0.350000
25%,6.025000,4.527500,0.560000,0.582500
50%,9.550000,5.260000,0.930000,0.730000
75%,12.725000,6.300000,1.157500,0.840000
max,28.800000,7.590000,1.690000,0.940000

In [26]:
# Creating another csv file while grouping by region instead of country, mean should get us the data we need
region_data = country_data.groupby('region').mean()
region_data = region_data.drop(columns = {'sui_per_100k_2016', 'sui_per_100k_2010',\
       'sui_per_100k_2000', 'happiness_rank_2015', \
       'standard_error', 'family_2015',\
       'health_life_expectancy_2015', 'freedom_2015',\
       'trust_government_corruption_2015', 'generosity_2015',\
       'dystopia_residual_2015', 'happiness_rank_2016', 'happiness_score_2016',\
       'economy_gdp_per_capita_2016', 'family_2016',\
       'health_life_expectancy_2016', 'freedom_2016',\
       'trust_government_corruption_2016', 'generosity_2016',\
       'dystopia_residual_2016', 'total_population', 'total_suicides_2016',\
       'total_suicides_2015', 'economy_gdp_2016', 'economy_gdp_2015',\
       'latitude', 'longitude', 'hdi_rank',\
       'life_expectancy_at_birth', 'expected_years_of_education',\
       'mean_years_of_education', 'gni_per_capita_rank_minus_hdi_rank'})

# export it so it can be used for analysis
region_data = region_data.reset_index()

In [27]:
# round all the region data to two decimal places for better viewing
region_data = region_data.round(2)

In [28]:
region_data.to_csv(f'region_data.csv', index=False)

In [29]:
region_data

,region,sui_per_100k_2015,happiness_score_2015,economy_gdp_per_capita_2015,human_development_index
0,Australia and New Zealand,11.90,7.28,1.29,0.92
1,Central and Eastern Europe,11.65,5.25,0.94,0.77
2,Eastern Asia,12.20,5.33,1.00,0.78
3,Latin America and Caribbean,9.30,6.12,0.88,0.72
4,Middle East and Northern Africa,4.46,5.55,1.11,0.75
5,North America,11.90,7.28,1.36,0.92
6,Southeastern Asia,6.89,5.38,0.84,0.70
7,Southern Asia,9.89,4.58,0.56,0.58
8,Sub-Saharan Africa,12.20,4.14,0.40,0.50
9,Western Europe,9.63,6.73,1.31,0.89